version: "3.9"
services:
  # dev-web:
  #   image: node:20-alpine
  #   working_dir: /app
  #   container_name: dev-web
  #   volumes:
  #     - .:/app
  #     - /app/node_modules
  #     # - ./cert:/etc/nginx/certs:ro
  #   ports:
  #     - "3002:3002"
  #   environment:
  #     # - VITE_API_BASE_URL=http://verilocale-service:8082/api/v1
  #     # - VITE_USE_MOCK=false
  #     # - VITE_GRAFANA_URL=http://enterprise-grafana:3000
  #     - VITE_API_BASE_URL=/api/v1
  #     - VITE_USE_MOCK=false
  #     - VITE_GRAFANA_URL=/grafana
  #     # Required for Vite HMR in Docker
  #     - CHOKIDAR_USEPOLLING=true
  #   networks:
  #     - shared-network
  #   #   - ./cert:/etc/nginx/certs:ro
  #   command: sh -c "npm ci && npm run dev -- --host 0.0.0.0 --port 3002"

  pord-web:
    image: ver/verilocale-web:${PROD_TAG:-1.0.0}
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    container_name: verilocale-web
    ports:
      - "80:80"
      - "443:443"
    # 仅当你启用“运行时动态注入策略B”时需要这些变量
    environment:
      # VITE_USE_MOCK: ${USE_MOCK}
      # VITE_API_BASE_URL: ${API_BASE_URL}
      # VITE_GRAFANA_URL: ${GRAFANA_BASE_URL}
      - VITE_API_BASE_URL=/api/v1
      - VITE_USE_MOCK=false
      - VITE_GRAFANA_URL=/grafana
    networks:
      - shared-network
    volumes:
      - ./cert:/etc/nginx/certs:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - /root/test/vrlFaceServer/vrlFace/data/:/mnt/faces:ro
    # 可选健康检查
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget --no-check-certificate -qO- https://localhost/grafana/ || exit 1",
        ]
      interval: 10s
      timeout: 3s
      retries: 3

  dev-web:
    image: ver/verilocale-web:${DEV_TAG:-dev}
    container_name: verilocale-web-dev
    restart: unless-stopped

    ports:
      - "3003:4443"
    environment:
      - VITE_API_BASE_URL=/api/v1
      - VITE_USE_MOCK=false
      - VITE_GRAFANA_URL=/grafana
    networks:
      - shared-network
    volumes:
      - ./cert:/etc/nginx/certs:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - /root/test/vrlFaceServer/vrlFace/data/:/mnt/faces:ro
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:4443 || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 3

networks:
  shared-network:
    external: true
    name: shared-network
